n8n/montreal-events-workflow.json
{
  "name": "Montreal Music Events Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "ca403b41-71f3-4c1e-b860-64e87443906c",
      "name": "Daily Midnight Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        5744,
        3504
      ]
    },
    {
      "parameters": {
        "url": "https://www.turbohaus.ca/calendrier",
        "options": {}
      },
      "id": "e23d0c4c-2b83-40d0-8de3-7e216a23e059",
      "name": "Fetch Turbohaus1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        3232
      ]
    },
    {
      "parameters": {
        "url": "https://www.barleritzpdb.com/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "4e3d45c3-ae8c-45e1-a690-04c1bebce0ce",
      "name": "Fetch Bar Le Ritz1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        3376
      ]
    },
    {
      "parameters": {
        "url": "https://quaidesbrumes.ca/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "0ab2c180-b159-4abd-b0fe-76eeb1865b5f",
      "name": "Fetch Quai des Brumes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        3504
      ]
    },
    {
      "parameters": {
        "url": "https://foufouneselectriques.com/evenements/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "73bdde12-e038-4abe-96f5-c6d68bb3b111",
      "name": "Fetch Foufounes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        3648
      ]
    },
    {
      "parameters": {
        "url": "https://casadelpopolo.com/en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "c69488e4-05bf-46d2-9880-57620dccd1ec",
      "name": "Fetch Casa del Popolo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        3792
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert at extracting music event information from HTML. Analyze the following HTML from multiple venues in Montreal and extract ONLY music events (concerts, live music, DJ sets, etc.).\\n\\nIGNORE: comedy shows, talks, workshops, poetry, theatre, and any non-music events.\\n\\nFor each music event found, extract:\\n- eventName: The name of the event or performing artist(s)\\n- eventDate: The date in ISO-8601 format (YYYY-MM-DD). If a date range, use the start date.\\n- eventImage: The full URL of the event image if present, otherwise null\\n- venue: should come from the data \\nOnly include events from today up to 14 days from now .\\n\\nReturn ONLY a valid JSON array. If no events found, return an empty array [].\\nDo not include any explanation, just the JSON array.\\n\\nHTML Content:\\n{{ $json.data }}\n"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        6384,
        3504
      ],
      "id": "2bd1e43a-1ee7-4d36-847d-fcb0350ae3d1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "oSz1l2qZdmPu4meC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Midnight Trigger1": {
      "main": [
        [
          {
            "node": "Fetch Bar Le Ritz1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Quai des Brumes1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Foufounes1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Casa del Popolo1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Turbohaus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Turbohaus1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bar Le Ritz1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quai des Brumes1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Foufounes1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Casa del Popolo1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "REMOVED",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REMOVED"
  },
  "id": "REMOVED",
  "tags": []
}